body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
}

body.dark-mode {
    background-color: rgb(26, 26, 26);
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.container.dark-mode{
    background: #2e2e2e;
}
.container.dark-mode h1 {
    color: #acacac;
}
.container.dark-mode h1 {
    color: #9d9d9d;
}
.container.dark-mode input[type="url"] {

    background-color: #404040;
    border: 1px solid #444444;
}

.container.dark-mode button {
    background-color: #333333;
    color: #acacac;
    border: 1px solid #444444;
}
.container.dark-mode button:hover {
    background-color: #555555;
}


input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    text-align: center;
}
input[type="url"]:focus {
    border-color: #007BFF;
    outline: none;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.summary {
    margin-top: 20px;
    text-align: left;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.summary.show {
    opacity: 1;
    display: block;
}
.section {
    margin-bottom: 20px;
}
.section h3 {
    font-size: 22px;
    margin-bottom: 10px;
}


#descriptionSection, #chronologicalSummarySection {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#descriptionSection p, #chronologicalSummarySection p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

#descriptionSection h3, #chronologicalSummarySection h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
}
